<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-update-artiste 
      
      [artiste]="updatedArt" 
      (artisteUpdated)="ajouterArtiste($event)"
      [ajout]="ajout">
    
    </app-update-artiste>


    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id Artiste</th>
              <th>Nom Artiste</th>
              <th>Nationalité Artiste</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let art of artistes">
              <td>{{art.idArtiste}}</td>
              <td>{{art.nomArtiste}}</td>
              <td>{{art.nationaliteArtiste}}</td>
              <td><a class="btn btn-success" (click)="updateArt(art)">Editer</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
